:root {
  --main-bg-color: white;
  --main-color: #400062;
  --shade-color: #5d018f;
  --center-padding: 15%;
  --primary-c: #2196F3;
	--secondary-c: #f5aa18;
	
	--white: #FDFBFB;
	
	--text: #082943;	
	--bg: var(--primary-c);
}